.navbar-collapse.collapse.navbar-responsive-collapse
  ul.nav.navbar-nav
    li= link_to t('.main_page'), root_path
    - if current_user
      li
        = link_to t('.my_posts'), dashboard_posts_path
  ul.nav.navbar-nav.navbar-right
    - if current_user
      li
        = link_to t('.log_out'), destroy_user_session_path, method: :delete
    - else
      li
        = link_to t('.registration'), new_user_registration_path
      li
        = link_to t('.sign_in'), new_user_session_path
