= form_for([:dashboard, @post], builder: CustomFormBuilder) do |f|
  = f.text_field :title, class: 'form-control'
  = f.text_area :body, class: 'form-control'
  .checkbox
    label
      = f.check_box :hide
      = t('.hide')
  .form-group
    = f.datatime :created_at, class: 'form-control' if @post.persisted?
  .form-group
    = f.tags :string_tags, class: 'form-control'
  = f.submit @post.new_record? ? t('.create') : t('.save')
