.row
  .col-lg-6
    h1
      = t('.my_posts')
  .col-lg-6.text-right 
    = link_to t('.create_post'), new_dashboard_post_path, class: 'btn btn-primary'
    
- if @posts.present?
  table.table.table-hover
    thead
      tr
        th #
        th=t('.post_title')
        th=t('.actions')
    tbody.post_list
      - @posts.each do |post|
        tr
          td
            = post.id
          td
            = post.title
          td.actions
            = link_to t('.delete'), dashboard_post_path(post), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger btn-xs'
            = link_to t('.edit'), edit_dashboard_post_path(post), class: 'btn btn-primary btn-xs'
            - if post.hide?
              = link_to t('.publish'), publish_dashboard_post_path(post), class: 'btn btn-success btn-xs', method: :post
            - else
              = link_to t('.hide'), hide_dashboard_post_path(post), class: 'btn btn-warning btn-xs', method: :post
      
- else
  h3
    = t('.no_posts')
