.row
  .col-xs-8{ng-controller='PostListCtrl'}
    .row
      .col-lg-6
        h1
          = t('.posts')
      - if current_user
        .col-lg-6.text-right 
          = link_to t('.create_post'), new_dashboard_post_path, class: 'btn btn-primary'

    .row.post{ng-repeat="post in posts"}
      .col-xs-12
        .row
          .col-xs-12
        .row
          .col-xs-8
            a{href="{{ post.url }}"}
              | {{ post.title }}
          .col-xs-4
            span
              | Автор
              ' :
            | {{ post.user.email }}
        .row
          .col-xs-12
            span.tags
              | Теги:
            | {{ post.tags }}
    ul.pagination
      li{ng-repeat="i in pages"}
        a{href="#" ng-click='pageChange(i)'}
          | {{i}}
  .col-lg-4
    .row
      .col-xs-12{ng-controller='TagListCtrl'}
        h2
          = t('.tags')
        ul
          li{ng-repeat="tag in tags"}
            a href="#" data-tag="{{tag}}" ng-click="searchByTag($event)"
              | {{ tag }}
