.row
  .col-xs-12{ng-app="postList" ng-controller='PostShowCtrl' ng-init="post_id = #{@post.id}; current_user_id = #{current_user ? current_user.id : nil};"}
    h1
      | {{ post.title }}
    .row
      .col-xs-12
        .row
          .col-xs-12
            | {{ post.body }}
        .row.comment{ng-repeat="comment in comments"}
          .col-xs-8
            | {{ comment.body }}
          .col-xs-4.text-right{ng-show="comment.user_id == current_user_id"}
            a{href="" ng-click="deleteComment(comment.id)"}
              | Удалить

        form#new_comment.simple_form.form-horizontal.ng-pristine.ng-valid accept-charset="UTF-8" action="" method="post" novalidate="novalidate" 
          .form-group.text.required.comment_body
            label.control-label.text.required for="comment_body" 
              abbr title="обязательно" *
              | Коментарий
            textarea#comment_body.form-control.text.required name="comment[body]" ng-keyup="hendlerCommentBody($event)" ng-model="comment_body"
          input.btn.btn-default data-disable-with="Создать" name="commit" type="button" value="Создать" ng-click="hendlerCreateComment()" /
