//= require_self
//= require bootstrap_and_overrides.css
//= require posts
//= require dashboard/posts
//= require jquery.tagsinput

.form-group
  .error
    color: red
  .field_with_errors
    input,textarea
      border: 1px solid red
      background-color: #fff3f3
